<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cheerup-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A73932EA21C4A6740045C5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A739330121C4A67A0045C5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A739330C21C4A67A0045C5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
